<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.test.ur.app.mapper.URO001Mapper">
	<select id="findAll" resultType="com.test.ur.app.dto.URO001Dto">
		SELECT * FROM salesoffice
	</select>
	
	<select id="getTotal" resultType="com.test.ur.app.dto.URO001Dto">
		SELECT count(*) FROM salesoffice where sales_areaCode = #{citycode}
	</select>
	
	<select id="getOfficeListByCity" resultType="com.test.ur.app.dto.URO001Dto">
		SELECT * FROM salesoffice where sales_areaCode = #{citycode}
	</select>
	
	<select id="getOfficeById" resultType="com.test.ur.app.dto.URO001Dto">
		SELECT * FROM salesoffice where sales_registerno = #{id}
	</select>
	
</mapper>